<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %> - Youtube Iframe Api Test</title>
		<link rel="preload" href="/static/style404.css">
		<link rel="preload" href="/static/script404.js">
		<link rel="stylesheet" href="/static/script404.js">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="/static/yiat-logo.png" type="image/x-icon">
		<meta name="description" content="test for youtube iframe api by koon2120" />
		<meta property="og:title" content="<%= title %> - Youtube Iframe Api Test" />
		<meta property="og:description" content="test for youtube iframe api by koon2120" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= original_url %>" />
		<meta property="og:site_name" content="Youtube Iframe Api Test" />
		<meta property="og:image" content="<%= thumnail %>" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= title %> - Youtube Iframe Api Test" />
		<meta name="twitter:description" content="test for youtube iframe api by koon2120" />
		<meta name="twitter:url" content="<%= original_url %>" />
		<meta name="twitter:image" content="<%= thumnail %>" />
        <link rel="stylesheet" href="/static/style404.css">
</head>
<body>
    <h1>404 Not Found</h1>
    <p>this video has not found, please try other videos</p>
    <div class="other_video_id_or_url">
        <label class="text" for="video_source" >YOUTUBE VIDEO ID OR URL : </label>
        <input class="input top_input" title="Example: bHQqvYy5KYo, https://www.youtube.com/watch?v=bHQqvYy5KYo" type="text" name="video_source" id="video_source">
        <input class="button" onclick="videoid_yt_enter()" type="button" value="ok">
    </div>
    <script src="/static/script404.js"></script>
</body>
</html>